{%
$__data = [
'id' => ($_form['name'] ?? 'form') . (ucFirst($_input['name'] ?? 'input')),
'name' => $_input['name'] ?? 'input',
'type' => $_input['type'] ?? 'text',
'value' => $_input['value'] ?? '',
'values' => $_input['values'] ?? [],
'title' => $_input['title'] ?? false,
'icon' => $_input['icon'] ?? false,
'description' => $_input['description'] ?? false,
'is_required' => $_input['required'] ?? false,
'has_validation' => $_input['validation'] ?? false,
];
%}

{{ ($__data['title']) ? '<label for="'. $__data['id'] .'" class="form-label text-muted small mt-1 mb-0">'. $__data['title'] .'</label>' : '' }}
<select name="{{ $__data['name'] }}" class="form-select {{ ($__data['has_validation']) ? 'has-validation' : '' }} validation-{{ $__data['name'] }}" id="{{ $__data['id'] }}" aria-describedby="{{ $__data['id'] }}Help {{ $__data['id'] }}Feedback" {{ ($__data['is_required']) ? 'required' : '' }}>
    {% foreach ($__data['values'] as $value): %}
    <option {% if (($value['value'] ?? $value['name'])==$__data['value']): %}selected{% endif %} value="{{ $value['value'] ?? $value['name'] }}">{{ $value['name'] }}</option>
    {% endforeach %}
</select>
<div class="invalid-feedback">
    Please select a valid value.
</div>
{{ ($__data['description']) ? '<div id="'. $__data['id'] .'Help" class="form-text">' . $__data['description'] . '</div>' : '' }}